$yellow: #fffa19;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $buttom;
    
}
.jumbotron {
	background-color: $yellow;
	color: black;
    @include margenes(50px, 0px);
    
}
.footer {
	padding: 10px 10px 0 10px;
	background-color: rgb(36, 36, 36);
	@include margenes(10px, 0px);
}
.navbar {
    position: relative;
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}