.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #242424;
  margin-bottom: 0px; }

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem; }
