@yellow: #fffa19;

.margenes (@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @buttom;
    
}
.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes (50px, 0px);
}
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color: #242424;
    .margenes (50px, 0px);
} 
  
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem; }
  